{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'demo/top_page.css' %}">

<body>
<header>
    <img src="{%static 'demo/miraidenshi.png'%}">
    <div class = 'title-wrapper'>
        <h1 class = 'title'>Git Project</h1>
    </div>
    <div class = 'header-list'>
        <a>about us</a>
        <a>what git</a>
        <a>members</a>
    </div>
</header>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<div id ="logo">
<h1 class='center-title'>Git Project!</h1>
<img id ='github-logo' src ='{%static "demo/github-logo.png"%}'>
<div>
<div class='slide-wrapper'>
<h1>members</h1>
<hr width="80%" color='black'>
<link href="{% static 'demo/js/slick-theme.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'demo/js/slick.css' %}" rel="stylesheet" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'demo/js/slick.min.js' %}"></script>
<script type='text/javascript' src="{% static 'demo/top_page.js' %}"></script>
<ul class="slider">
    <li><a href="#"><img src="{%static 'demo/hatano.jpg'%}" alt="image02"></a></li>
    <li><a href="#"><img src="{%static 'demo/umehara.jpg'%}" alt="image03"></a></li>
    <li><a href="#"><img src="{%static 'demo/takeuti.jpg'%}" alt="image04"></a></li>
    <li><a href="#"><img src="{%static 'demo/ogasawara.jpg'%}" alt="image05"></a></li>
    <li><a href="#"><img src="{%static 'demo/yamada.jpg'%}" alt="image05"></a></li>
    <li><a href="#"><img src="{%static 'demo/nakabayashi.jpg'%}" alt="image05"></a></li>
</ul>
</div>
<script type='text/javascript'>
    $('.slider').slick(
        {
            autoplay:true,
            autoplaySpeed:3000,
            slidesToShow:3,
            slidesToScroll:1,
            arrows:false,
        }
    );
</script>

</body>
